## Environment variable for the base URL of your GitHub Pages site.
## Add your website to generate the correct QR codes for your guests.

## Es. "https://my-username.github.io/placeholders-degree-spa/"
BASE_URL="YOUR_WEBSITE_URL_HERE/"